<h1 class="h3 mb-4 text-gray-800">Novo Apontamento</h1>

<div class="container">
  <%= form_for :apontamento do |f| %>
    <div class="form-group row">
      <div class="col-md-2">
        <label for="apontamento_entrada">Horário de Entrada</label>
      </div>
      <div class="col-md-4">
        <%= f.datetime_field :entrada, class:"form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2">
        <label for="apontamento_saida">Horário de Saída</label>
      </div>
      <div class="col-md-4">
        <%= f.datetime_field :saida, class:"form-control" %>
      </div>
    </div>
    <div class="form-group row grupo_pausas">
      <div class="col-md-1">
        <label for="apontamento_pausas">Pausa:</label>
      </div>
      <div class="col-md-4">
        <%= f.datetime_field :pausa_entrada, class:"form-control" %>
      </div>
      <div class="col-md-1">
        <label for="apontamento_pausas">Até:</label>
      </div>
      <div class="col-md-4">
        <%= f.datetime_field :pausa_saida, class:"form-control" %>
      </div>
      <div class="col-md-2">
        <a href="#" class="btn btn-primary btn_pausa_confirma">Confirma</a>
      </div>
    </div>
  <% end %>
</div>
